*.egg-info/


# data/interim/**.xlsx
# data/processed/**.xlsx


experiments/logs/
experiments/predictions/
*.pkl
*.pt
*.bin


# data/raw/

# OS
.DS_Store
Thumbs.db

.env
paper/notes/

frontend/node_modules/
frontend/.next/